<div class="password-update__container">
    <div class="password-update__sidebar">
        <a href="#/chats">
            <img src="{{ arrowLeft }}" alt="arrow-left">
        </a>
    </div>

    <div class="password-update__main">
        {{{ avatar }}}

        <div class="password-update__name">
            <span>Иван</span>
        </div>

        <form action="#" class="password-update__form">
            <ul class="password-update__info-list">
                <li class="password-update__list-item">
                    <label for="oldPassword">Старый пароль</label>
                    <input id="oldPassword" type="password" name="oldPassword">
                </li>
                <li class="password-update__list-item">
                    <label for="newPassword">Новый пароль</label>
                    <input id="newPassword" type="password" name="newPassword">
                </li>
                <li class="password-update__list-item">
                    <label for="newPasswordConfirm">Повторите новый пароль</label>
                    <input id="newPasswordConfirm" type="password" name="newPasswordConfirm">
                </li>
            </ul>

            {{{ button }}}

        </form>

    </div>
</div>

