<div class="password-update__sidebar">
    {{{backButton}}}
</div>

<div class="password-update__main">
  {{{ avatar }}}

  <div class="password-update__name">
    <span>Иван</span>
  </div>

  {{{ form }}}

</div>


