<div class="password-update__sidebar">
  <a href="/messenger">
    <img src="{{ arrowLeft }}" alt="arrow-left">
  </a>
</div>

<div class="password-update__main">
  {{{ avatar }}}

  <div class="password-update__name">
    <span>Иван</span>
  </div>

  {{{ form }}}

</div>


