<div class="signin">
    <div class="signin-header">
        <h2>Регистрация</h2>
    </div>
    <div class="signin-content">
        <form>
            {{#each controls}}
                {{{this}}}
            {{/each}}
            {{{btn}}}
        </form>
    </div>
    <div class="signin-footer">
        {{{link}}}
    </div>
</div>
