<div class="chat-list-item__avatar"></div>

<div class="chat-list-item__content-left">
  <span class="chat-list-item__message-sender">{{login}}</span>
  <p class="chat-list-item__message-text">{{content}}</p>
</div>

<div class="chat-list-item__content-right">
  <span class="chat-list-item__time">{{time}}</span>
  {{#if unread_count}}
    <div class="chat-list-item__badge">{{{unread_count}}}</div>
  {{/if}}
</div>

