<div class="profile-edit__sidebar">
  <a href="/messenger">
    <img src="{{ arrowLeft }}" alt="arrow-left">
  </a>
</div>

<div class="profile-edit__main">
  {{{ avatar }}}

  <div class="profile-edit__name">
    <span>Иван</span>
  </div>

    {{{ form }}}


</div>

