<div class="profile-edit__sidebar">
    {{{backButton}}}
</div>

<div class="profile-edit__main">
    {{{ avatar }}}

    <div class="profile-edit__name">
        <span>{{first_name}}</span>
    </div>

    {{{form}}}

    </form>
</div>

