$colors: (
  text-black: #1e1e1e,
  blue-1: #3369f3,
  text-white: #fff,
  text-grey: #999,
  text-red: #ff2f2f,
  bg-grey-1: #fbfbfb,
  bg-grey-2: #efefef,
  bg-grey-3: #eaeaea,
  bg-blue-1: #e4edfd,
  text-red-1:#f00,
  shadow-1: rgb(0 0 0 / 14%)
);
