$colors: (
        text-black: #1E1E1E,
        blue-1: #3369F3,
        text-white: #FFFFFF,
        text-grey: #999999,
        text-red: #FF2F2F,
        bg-grey-1: #FBFBFB,
        bg-grey-2: #EFEFEF,
        bg-grey-3: #EAEAEA,
        bg-blue-1: #E4EDFD,
        shadow-1: rgba(0, 0, 0, 0.14)
)
