@import "src/styles/colors";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
  color: map-get($colors, text-black);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  height: 100vh;
  width: 100vw;
  overflow: auto;

  p {
    margin: 0;
  }

  #root {
    flex: auto;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .link {
    color: map-get($colors, blue-1);
    font-size: 11px;
    line-height: 11px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
