<div class="login column">
    <div class="login-header">
        <h2>Вход</h2>
    </div>
    <div class="login-content">
        <form>
            {{#each controls}}
                {{{this}}}
            {{/each}}
        {{{btn}}}
        </form>
    </div>
    <div class="login-footer">
        {{{link}}}
    </div>
</div>
