<div class="sign-up-page__container">
    <h1 class='sign-up-page__title'>Регистрация</h1>

    <form class='sign-up-page__form'>
        <div class='sign-up-page__input'>
            <label for='email'>Почта</label>
            <input  type='email' id='email' name='email' placeholder='' />
        </div>

        <div class='sign-up-page__input'>
            <label for='login'>Логин</label>
            <input  type='text' id='login' name='login' placeholder='' />
        </div>

        <div class='sign-up-page__input'>
            <label for='first_name'>Имя</label>
            <input type='text' id='first_name'  name='first_name' placeholder='' />
        </div>

        <div class='sign-up-page__input'>
            <label for='second_name'>Фамилия</label>
            <input  type='text' id='second_name' name='second_name' placeholder='' />
        </div>

        <div class='sign-up-page__input'>
            <label for='phone'>Телефон</label>
            <input  type='tel' id='phone' name='phone' placeholder='' />
        </div>

        <div class='sign-up-page__input'>
            <label for='password'>Пароль</label>
            <input  type='password' id='password' name='password' placeholder='' />
        </div>

        <div class='sign-up-page__input'>
            <label for='confirm-password'>Пароль (ещё раз)</label>
            <input  type='password' id='confirm-password' name='confirm-password' placeholder='' />
        </div>

        {{{ button }}}

        <a class='link' href='#/sign-in'>Войти</a>
    </form>
</div>
