<ul>
  <a class="navigation-page__link" href="#/chats">
    <li>
      Главная
    </li>
  </a>
  <a class="navigation-page__link" href="#/sign-in">
    <li>
      Авторизация
    </li>
  </a>
  <a class="navigation-page__link" href="#/sign-up">
    <li>
      Регистрация
    </li>
  </a>

  <a class="navigation-page__link" href="#/profile">
    <li>
    Страница профиля
    </li>
  </a>
  <a class="navigation-page__link" href="#/profile-edit">
    <li>
      Изменить данные профиля
    </li>
  </a>
  <a class="navigation-page__link" href="#/password-update">
    <li>
      Изменить пароль
    </li>
  </a>
  <a class="navigation-page__link" href="#/404">
    <li>
      Страница 404
    </li>
  </a>
  <a class="navigation-page__link" href="#/500">
    <li>
      Страница 500
    </li>
  </a>
</ul>










