<ul>
  <li class="navigation-page__link">
    <a href="/messenger">Главная</a>
  </li>
  <li class="navigation-page__link">
    <a href="/sign-in">Авторизация</a>
  </li>
  <li class="navigation-page__link">
    <a href="/sign-up">Регистрация</a>
  </li>
  <li class="navigation-page__link">
    <a href="/profile">Страница профиля</a>
  </li>
  <li class="navigation-page__link">
    <a href="/settings">Изменить данные профиля</a>
  </li>
  <li class="navigation-page__link">
    <a href="/password-update">Изменить пароль</a>
  </li>
  <li class="navigation-page__link">
    <a href="/404">Страница 404</a>
  </li>
  <li class="navigation-page__link">
    <a href="/500">Страница 500</a>
  </li>
</ul>
