<nav class="navigation-page__container">
        <a class="navigation-page__link" href="#/chats">Главная</a>
        <a class="navigation-page__link" href="#/sign-in">Авторизация</a>
        <a class="navigation-page__link" href="#/sign-up">Регистрация</a>
        <a class="navigation-page__link" href="#/profile">Страница профиля</a>
        <a class="navigation-page__link" href="#/profile-edit">Изменить данные профиля</a>
        <a class="navigation-page__link" href="#/password-update">Изменить пароль</a>
        <a class="navigation-page__link" href="#/404">Страница 404</a>
        <a class="navigation-page__link" href="#/500">Страница 500</a>
</nav>
