{{#if selectedChat}}
    <div class="chat-box__header">
        <a href="#" class="chat-box__username">
            <div class="chat-box__avatar"></div>
            <span>Petya</span>
        </a>
        <div class="chat-box__dropdown">
            {{{menu}}}
        </div>
    </div>

    <div class="chat-box__main">
        {{#each messages}}
            {{{this}}}
        {{/each}}
    </div>

    <div class="chat-box__footer">
        {{{ form }}}
    </div>
{{else}}
    <span class='chat-box__empty-message'>Выберите чат чтобы отправить сообщение</span>
{{/if}}
