<div class="chat-aside__header">
  <div class="chat-aside__profile-link">
    <a href="/profile">
      <span>Профиль</span>
      <img src="{{ arrowRight }}" alt="arrow">
    </a>
  </div>

  <form class='chat-aside__search-input'>
    <input type="text" name="search" placeholder="Поиск">
  </form>

    {{{ button }}}
</div>

<ul class="chat-aside__list">
  {{#each chats}}
    <li>{{{this}}}</li>
  {{/each}}
</ul>

