<div class="chat-aside__header">
  <div class="chat-aside__profile-link">
      {{{link}}}
  </div>
    {{{ button }}}
</div>

<ul class="chat-aside__list">
    {{#if isLoaded }}
        {{#each chats}}
            <li>{{{this}}}</li>
        {{/each}}
    {{else}}
        Loading...
    {{/if}}
</ul>

