<div class="error-page">
    <h1 class="error-page__title"> {{{ title }}}</h1>
    <span class="error-page__subtitle">{{{ subtitle }}}</span>
    <a class='link' href='#/chats'>Назад к чатам</a>
</div>
